{% extends 'Base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Stock</title>
</head>
<body>
    <h1>Add Stock</h1>
    <br/>
    <!-- {{ ticker }} -->
    <form action="{% url 'Add Stock' %}" class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Get Stock Quote" aria-label="Search" name="ticker">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Stock Quote</button>
      </form>

    {% for item in ticker %}
    <li><strong>{{ item }}<br/></strong></li>
    {% endfor %}
</body>
</html>
{% endblock %}